
.logo {
	height: 50%;
 	width: 50%;
 	
}

.titulo {
	font-family: sans-serif;
	margin-top: 80px;
	padding: 0
}

.subtitulo {
	font-family: sans-serif;
}


.formulario {
	background: #ffffff ; 
	color: black; 
	padding: 20px;
	width: 100%
}

.input {
	 width: 300px;
	
}

.comentario {
	font-size: 12px;	
	font-family: sans-serif;
}

.comentario2 {
	font-size: 12px;	
	font-family: sans-serif;
	margin-top: 5000px;
}

.contenedor {
	padding: 10px;
	margin-left: auto;
	margin-right: auto
	
}

.footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	width: 100%;
	bottom: 0
}

