.formulario {
	background: #ABB2B9 ; 
	color: black; padding: 20px;
}

.input {
	 width: 300px;
	 display:flex;
     justify-content: center;
     align-items: center;
}

.comentario {
	font-size: 12px;	
}

.contenedor {
	padding: 10px;
	
}